<h1>Players</h1>
<hr />
<% @players.each do |player| %>
<div id=players>
  <p>First Name: <%= player.first_name %></p>
  <p>Surname:  <%= player.surname %></p>
  <p>Tag:  <%= player.tag %></p>
  <p>Runner Faction: <%= player.find_runner_faction.name %></p>
  <p>Runner Identity: <%= player.find_runner_identity.name %></p>
  <p>Corp Faction: <%= player.find_corp_faction.name %></p>
  <p>Corp Identity: <%= player.find_corp_identity.name %></p>
  <p>League: <%= player.find_league.name%></p>
  <p>Points: <%= player.points %></p>
  <form action="/players/<%=player.id%>/edit/" method = "GET">
    <input class ="btn--new" input type="submit" value="Edit Player">
  </form>
  <form action="/players/<%=player.id%>/delete/" method = "POST">
    <input class ="btn--new" input type="submit" value="Delete Player">
  </form>
  <br>
  <br>
<hr />
<% end %>
</div>