<h2>Match Records</h2>
<hr />
<% @games.each do |game| %>
<p>League: <%=game.find_league.name%></p>
<p>Round 1 Runner Player: <%=game.find_round1_runner_player.tag%></p>
<p>Round 1 Runner Faction: <%= game.find_round1_runner_faction.name %></p>
<p>Round 1 Runner Identity:  <%= game.find_round1_runner.name %></p>
<p>Round 1 Corp Player: <%= game.find_round1_corp_player.tag%></p>
<p>Round 1 Corp Faction: <%= game.find_round1_corp_faction.name  %></p>
<p>Round 1 Corp identity: <%= game.find_round1_corp.name %></p>
<p>Round 1 Winner: <%= game.find_round1_winner.tag%></p>
<p>Round 2 Runner Player: <%= game.find_round2_runner_player.tag %></p>
<p>Round 2 Runner Faction:  <%= game.find_round2_runner_faction.name %></p>
<p>Round 2 Runner Identity:  <%= game.find_round2_runner.name %></p>
<p>Round 2 Corp Player: <%= game.find_round2_corp_player.tag%></p>
<p>Round 2 Corp Faction: <%= game.find_round2_corp_faction.name  %></p>
<p>Round 2 Corp Identity: <%= game.find_round2_corp.name %></p>
<p>Round 2 Winner: <%= game.find_round2_winner.tag %></p>
<hr />
<% end %>